<!DOCTYPE html>
<html>

   <head>
      <title>Request Header Parser Microservice | Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Request Header Parser</h1>
         <h3>How to use:</h3>
         <p>
           After the url enter the following:
           <ul>
             <li>/whoami</li>
           </ul>
           it will return the following object:
           {"ipaddress": null, "language": null, "software": null}
         </p>
      </div>
   </body>

</html>
